*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Dosis,sans-serif;
    font-size: 16px;
}
/* custom colors */
.green{
    color: #52ab98;
}
.bg-green{
    background-color: #52ab98;
}
.white{
    color: #ffffff;
}
.bg-white{
    background-color: #ffffff;
}


 .header{
    padding: 10px;
    background-color: #52ab98;
}

h1{
    color: white;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    font-size: 24px;
}
nav{
    color: white !important;
}
nav a{
    color: white !important;
}
 
.nav-link-container  ul, .auth-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-link-container ul li a, .auth-container ul li a{
    color: white;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2b6777;
}

/* categories */

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.categories ul{
    display: flex;
    align-items: center;
    gap: 3rem;

}

.categories ul li{
    text-align: center;
}
.categories ul li a{
    color: #c8d8e4 ;
    transition: all 1.5s ease-in-out;
}

.categories ul li a:hover{
    color: #52ab98;
}


/* featured */

.featured h2{
    text-align: center;
}

.featured-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
  
}

.product-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.21);
    transition: all 0.5s ease-in-out;
}

.product-card:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);   
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-details botton{
    border: 0;
    background-color: #52ab98;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.product-details botton:hover{
    background-color: #2b6777;
}



/* profile*/


.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px,0px,0.5px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.profile-details{
    display: flex;
    flex-direction: column;
    gap: 1rm;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color: #52ab98;

}

.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.social ul{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.social ul li a{
    color: #ffffff;
}

.social ul li a:hover{
    background: rgba(200,200,200,0.5);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.profile-form form{
    margin: 20px;
}

.profile-form form .form-group{
    margin-top: 10px;

}
.profile-form form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #52ab98;
    border-radius: 5px;
}

botton{
    border: 0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    float: right;
    background-color: #52ab98;
}

/* sign up */
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.form-container form{
    padding: 20px;
    margin: 10px;
    border: 2px solid #52ab98;
    border-radius: 5px;

}

.form-container h3{
    text-align: center;
    margin-bottom: 20px;
}


.form-container form .form-group{
    margin-top: 10px;
}
.form-container form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #52ab98;
    border-radius: 5px;
}
.botton{
}

.signup-btn{ 
     text-align: center;
   width: 100%;
    padding: 10px;
    border: 1px solid #52ab98;
    border-radius: 5px

}

/*  login */

.form-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
}

.form-login-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #52ab98;
    border: 2px solid #52ab98;
    border-radius: 10px;
    width: 30%;
    padding: 10px;

    
    
}

.form-login-container h3{
    text-align: center;
    margin-top: 10px;
    color: #52ab98;
}

.form-login-container form .form-inputs{
    width: 100%;
    padding: 10px;
   
     
}

.form-login-container input{
    width: 100%;
    padding: 10px;
    border: 1px solid #52ab98;
    border-radius: 10px;
}
.botton{
    width: 95%;
    text-align: right;
 margin-top: 10px; 
}

.botton:hover{
color: #385fd3;

}

.forget-password{
    color: #144f2c;
}


.forget-password a{
    float: left;
    font-size: 16px;
    padding: 10px;

}

.forget-password a:hover{
text-decoration: underline;
}
/* media queries */

/* extra small devices (portrait phones, less than 567px) */
@media (max-width: 575.98px) {
    /* styles here */
    .product-img img{
        width: 100%;
        height: 100%;
    }
}

/* small devices (landscape phones, less than 567px and up) */
@media (min-width: 576px)and (max-width: 767.98px) {
    /* styles here */
    .product-img img{
        width: 100%;
        height: 100%;
    }
  
}

/* meduim devices (tablet, 768px and up) */
@media (min-width: 768px)and (max-width: 991.98px) {
    /* styles here */
}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px)and (max-width: 1199.98px) {
    /* styles here */
    .product-img img{
        width: 100%;
        height: auto;
    }
   
}

/* extral large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    /* styles here */
}